/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-text);
}

.container {
  margin: 0 auto;
  max-inline-size: 700px;
  inline-size: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-block: 100px;
  border: 2px solid var(--accent-color);
  padding-block: clamp(7.5rem, 6.3318rem + 4.9844vw, 8.5rem) 25px;
  font-family: var(--accent-font);
  background-color: var(--bg-color);
}

.logo {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.logo__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
}

.logo__title-smoll {
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-left: 18px;
}

.theme-menu__button {
  position: relative;
  display: flex;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -22px;
  display: block;
  animation: pointer 0.5s ease-in-out infinite alternate;
  inline-size: 14px;
  block-size: 14px;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  background-color: var(--accent-color);
  transition: transform 0.3s ease;
  transform: scaleX(0);
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

/* main */

.content {
  display: flex;
  flex-direction: column;
  gap: 49px;
  margin-block-end: 48px;
}

.card {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.card__title {
  padding: 4px 10px 6px;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-title);
}

.card__image {
  position: relative;
  display: flex;
  border-block: 2px solid var(--accent-color);
  max-block-size: clamp(19.75rem, -0.4605rem + 101.0526vw, 43.75rem);
}

.card__label {
  position: absolute;
  top: clamp(1.4375rem, 1.2915rem + 0.6231vw, 1.5625rem);
  right: clamp(0.6875rem, -0.3347rem + 4.3614vw, 1.5625rem);
  z-index: 1;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: -1px 0 var(--label-stroke-color), 0 1px var(--label-stroke-color),
    1px 0 var(--label-stroke-color), 0 -1px var(--label-stroke-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--label-stroke-color)) or
    (-webkit-text-stroke: 1px var(--label-stroke-color))
) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
  }
}

.card__img {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  line-height: 116.667%;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__buttons {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: end;
}

.card__icon-button {
  display: flex;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.heart {
  fill: none;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  --heart-contour-color: #ff0000;
  transition: fill 0.3s linear 0.05s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  --heart-contour-color: #ff0000;
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
  fill: var(--heart-main-body-color);
}

.like-icon.is-liked .core {
  --heart-contour-color: #ff0000;
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  --heart-contour-color: #ff0000;
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  --heart-contour-color: #ff0000;
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon .contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s ease-in 0.1s reverse;
}

.like-icon.is-liked .sparks {
  animation: opacity 0.3s ease-in 0.3s reverse;
}

.card__like-button {
  position: relative;
  border: 2px solid var(--accent-color);
  padding: 10px 17px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  min-inline-size: 130px;
}

.card__like-button:focus-visible,
.footer__button:focus-visible,
.dialog__button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__like-button::before,
.footer__button::before,
.dialog__button::before {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  background-color: var(--accent-color);
  transition: translate 0.5s ease-in-out;
  inline-size: 100%;
  block-size: 100%;
  translate: -100% 0;
}

.card__like-button:hover::before,
.footer__button:hover::before,
.dialog__button:hover::before {
  translate: 0 0;
}

.button__text {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--hover-button-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1;
  mix-blend-mode: difference;
}

.footer {
  margin-block-end: 100px;
}

.footer__button {
  position: relative;
  display: block;
  margin: 0 auto;
  border: 2px solid var(--accent-color);
  padding: 15px 18px;
  overflow: hidden;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  max-inline-size: clamp(19.125rem, 17.0076rem + 9.0343vw, 20.9375rem);
}

.footer__button-icon {
  fill: var(--hover-button-color);
  mix-blend-mode: difference;
  inline-size: clamp(1.3125rem, 2.2611rem + -2.1807vw, 1.75rem);
  block-size: clamp(1.3125rem, 2.2611rem + -2.1807vw, 1.75rem);
}

.dialog {
  border: 2px solid var(--accent-color);
  padding: 32px;
  background-color: var(--bg-color);
  max-inline-size: 357px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1.5; /* 21px */
  text-transform: uppercase;
}

.dialog__icon {
  min-inline-size: 39px;
  block-size: 39px;
}

.dialog__button {
  position: relative;
  margin: 0 auto;
  border: 2px solid var(--accent-color);
  padding: 9px 17px;
  overflow: hidden;
  inline-size: 100%;
}

@media (width <= 375px) {
  .logo__title {
    font-size: clamp(2.8125rem, 1.358rem + 7.2727vw, 3.0625rem);
  }
}
